argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.7.2
backports.zoneinfo==0.2.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
Django==4.2.5
docopt==0.6.2
idna==3.4
mysqlclient==2.2.0
pipreqs==0.4.13
pycparser==2.21
python-dotenv
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
yarg==0.1.9
