/* UserFeedback.css */
form .custom-input {
    border: 2px solid #2e2e2ed7; /* Add your desired border style */
    border-radius: 8px; /* Add border radius for rounded corners */
    padding: 10px; /* Add padding for spacing */
  }
  